.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #FFFFFF;
  background-size: cover;

  align-items: center;
  justify-content: center;
}

.login-panel {
  width: 40%;
  background-color: rgba(255, 214, 153, 0.85);
  padding: 40px;
  border-radius: 10px;
  padding: 50px;
    @media (max-width: 760px) {
        width: 100% !important;
        height: 100% !important;
    };
}

.admin-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.admin-button {
  width: 100%;
  padding: 10px;
  background-color: #944000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.admin-button:hover {
  background-color: #723a10;
}

.dashboard-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
}